.quotesContainer {
  width: 40vw;
  height: 30vh;
}

.quoteItem {
  font-style: italic;
}

.author {
  text-align: right;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  border: 10px solid #000000; /* Light grey */
  border-top: 10px solid #8dff60; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}