.calculator {
  background-color: tomato;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(5, 1fr);
  gap: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
}

.result {
  grid-column: 1 / -1;
  background-color: #ccc;
  padding: 10px;
  text-align: right;
}

.Btn-text {
  grid-column: span 1;
  grid-row: span 1;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.Btn-0 {
  grid-column: span 2;
  grid-row: span 1;
}