.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 40px;
  font-weight: 800;
  color: #d600c4;
}

.content {
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
